body{
    background-image: url(/Images/blackjack.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#dealer-hand img{
    height:135px;
    width:85px;
    margin:1px;
}

#player-hand img{
    height:135px;
    width:85px;
    margin:1px;

}
#Shuffle{
    width:100px;
    height:50px;
    font-size:20px;
}
#start{
    width:100px;
    height:50px;
    font-size:20px;

}

#Hit{
    width:100px;
    height:50px;
    font-size:20px;
}
#Stay{
    width:100px;
    height:50px;
    font-size:20px;
}
#Restart{
    width:150px;
    height:50px;
    font-size:20px;
}
#score1{
    border:4px solid;
    border-color: tomato;
    position: relative;
    font-size: large;
    text-align: center;
}
#score2{
    border:4px solid;
    border-color:tomato;
    font-size:large ;
    text-align: center;
}
#result{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
#login-form{
    display:inline-block;
    width:300px;
    border-radius:10px;
    background:black;

    padding:4px;
    color:white;
}