body{
    background-image: url(/Images/blackjack.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#dealer-hand img{
    height:40px;
    width:30px;
    margin:2px;
}
#player-hand img{
    height:180px;
    width:125px;
    margin:2px;

}
#Shuffle{
    width:100px;
    height:50px;
    font-size:20px;
}

#Hit{
    width:100px;
    height:50px;
    font-size:20px;
}
#Stay{
    width:100px;
    height:50px;
    font-size:20px;
}
#Restart{
    width:120px;
    height:70px;
    font-size:20px;
}